{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <body style="background-color: #e8f3f7">
            <div class="col=6">
                <div class="Container" style="width:40%; background-color:#fff; border-radius:15px; padding-left: 50px; padding-right: 50px; padding-top:50px; margin-top: 50px; margin-bottom:50px; padding-bottom:50px">
                           <h1 style="font-weight:800;">Login</h1>
                            <form method="post" novalidate>
                                {% csrf_token %}
                                <table style="margin-bottom:30px;margin-top:30px;margin-left:5px;margin-right:30px">
                                    <tr>
                                            <td><label for="id_username" style="margin-bottom:20px">Email</label></td>
                                            <td><input id="id_username" name="username"
                                               type="text" class="form-control" style="margin-bottom:20px;margin-left:15px"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_password">Password</label></td>
                                        <td><input id="id_password" name="password"
                                           type="password" class="form-control" style="margin-left:15px"></td>
                                    </tr>
                                </table>
                                <button type="submit" class="btn btn-primary" style="margin-left:10px; margin-bottom:15px;height: 35px; margin-top: 15px; background-color: #38b38b; border-color: #38b38b;">Login</button>
                            </form>
                </div>
            </div>
  </body>
{% endblock %}