{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body style="background-color: #e8f3f7">
    <div class="col=6">
        <div class="Container" style="width:90%; background-color:#fff; border-radius:15px; padding-left: 50px; padding-right: 50px; padding-top:50px; margin-top: 50px; margin-bottom:50px; padding-bottom:50px">
            <h1 style="font-weight:800; margin-bottom:20px">Create New Note</h1>
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form.as_p | safe }}
                            {{ form.media }}
                            <button type="submit" class="btn btn-primary" value="Upload" style="background-color: #38b38b; border-color: #38b38b; margin-top: 0px">Post</button>
                        </form>

        </div>
    </div>
</body>

{% endblock %}