{% extends 'base.html' %}
{% block content %}
<body style="background-color: #e8f3f7">
    <h2 align="left" style="font-weight: 800; margin-bottom:45px">Sorted list:</h2>
    <div class="card-columns">
        {% for e in q %}
                <div class="card-body text-left">
                    <div class="card-text">
                        <div class="card" style="border-radius: 10px">
                            <img width="100%" style="border-radius: 10px 10px 0px 0px" src="https://i.ibb.co/x8mdggr/note-img.png">
                            <div class="card-body" style="margin-left: 10px">
                                <h4 class="card-title" style="font-weight: 800; margin-bottom: 0px">{{ e.title }}</h4>
                                <table>
                                    <tr>
                                        <td><h5 style="color: #737373; font-size:12px"> by {{ e.user.first_name }}</h5></td>
                                        <td><h5 style="margin-left:20px; color: #737373; font-size:12px"> {{ e.date }}</h5></td>
                                        <td><h5 style="margin-left:20px; color: #38b38b">// {{ e.categories }}</h5></td>
                                    </tr>
                                </table>
                                <a href="/detail/{{ e.title }}/" class="btn btn-primary stretched-link"
                                   style="background-color: #fff; border-radius: 20px; border-color: #38b38b;
                                    border-width: 1px; margin-bottom: 5px; margin-top:5px" >
                                    <span style="color: #1d8865 ; font-size: 12px">See Note</span></a>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
